<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= welcome_index_path %>">Recipeat</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <!-- Recipe of the Day Button -->
          <li class="nav-item">
            <%= link_to 'Recipe of the Day', recipe_of_the_day_path, class: "btn btn-outline-info nav-link" %>
          </li>
          <!-- Swipe Button -->
          <li class="nav-item">
            <%= link_to 'Swipe', swipe_path, class: "btn btn-outline-success nav-link" %>
          </li>
          <!-- Add Recipe Button -->
          <li class="nav-item">
            <%= link_to 'Add', addrecipe_path, class: "btn btn-outline-primary nav-link" %>
          </li>
          <!-- Liked Recipes Button -->
          <li class="nav-item">
            <%= link_to 'Liked', liked_path, class: "btn btn-outline-warning nav-link" %>
          </li>
          <!-- Filter Recipes Button -->
          <li class="nav-item">
            <%= link_to 'Filter', filter_recipes_path, class: "btn btn-outline-secondary nav-link" %>
          </li>
          <!-- Share Recipes Button -->
          <li class="nav-item">
            <%= link_to "Share", recipes_share_path, class: "btn btn-outline-dark nav-link" %>
          </li>
          <!-- Sign Out Button -->
          <li class="nav-item">
            <%= link_to 'Sign Out', destroy_user_session_path, 'data-turbo-method': :delete, class: "btn btn-outline-danger nav-link" %>
          </li>
        <% else %>
          <!-- Register Button -->
          <li class="nav-item">
            <%= link_to 'Register', new_user_registration_path, class: "btn btn-outline-danger nav-link" %>
          </li>
          <!-- Sign In Button -->
          <li class="nav-item">
            <%= link_to 'Sign In', new_user_session_path, class: "btn btn-outline-primary nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
